In [125]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [126]:
#Global Variables

# File names
## Import
csvFile = 'vgsales-12-4-2019.csv'

## Export
excelFileName = 'ficheiro.xlsx'
tab1Name = 'Raw Data'
tab2Name = 'Platform Rank'

# Pandas CSV configuration
encodingName = 'utf8'
separator = ','

# Pandas XLS configuration
engineName = 'xlsxwriter'

# Lê o ficheiro csv e guarda como um DataFrame
#file = pd.read_csv(csvFile,sep=separator,encoding=encodingName)

# Lista de colunas a introduzir nas diferentes funções para limpeza e pré-processamento do DataFrame
list_columns_eliminar = ['Rank','basename','VGChartz_Score','Critic_Score','User_Score','Total_Shipped','Last_Update','url']
list_columns_elimnar_linhas_ifnull = ['Genre','Platform','Publisher','Developer','Global_Sales','Year']
list_colunas_fill_nulls = ['NA_Sales', 'PAL_Sales', 'JP_Sales', 'Other_Sales']

Início Matheus

In [127]:
# Essa função é reponsável pelo load de um ficheiro CSV 
def extract_base(inCSVName):
    load_file = pd.read_csv(inCSVName,sep=separator,encoding=encodingName)
    return load_file

In [128]:
#Essa função é responsável por remover a primeira coluna de index do ficheiro o parâmetro axis=1 indica que o drop é na coluna.
def transform_remove_index(inFile):
    return inFile.drop(inFile.columns[0], axis=1)

In [129]:
# Essa função é responsável por criar uma porcentagem de linhas null
def count_null(inFile,inColumn):
    totalRows = len(inFile)
    countNull = 0
    for i, row in inFile.iterrows():
        if pd.isnull(row[inColumn]):
            countNull += 1
    porcent = round((countNull * 100) / totalRows,2)
    return porcent

In [130]:
# Essa função converte uma coluna para int, mas antes preenche null values como 0
def convert_int(inFile,inColumn):
    inFile[inColumn] = inFile[inColumn].fillna(0)
    inFile[inColumn] = inFile[inColumn].astype(int)
    return inFile

In [131]:
# Essa função recebe como parâmetro o pd.ExcelWriter, o file e a tab do excel e escreve no ficheiro
def write_xls(inWriter,inFile,inTab):
    inFile.to_excel(inWriter, sheet_name=inTab,index=False)

Fim Matheus

Início Nuno

In [132]:
# Função para preencher com zeros as colunas com vazios

def fill_null(df, *column_name ,fill_value=0):
    for column in column_name:
        if column in df.columns:
            df[column] = df[column].fillna(fill_value)
    return df

In [133]:
# Função responsável somar valores de uma coluna e agrupar por uma ou mais colunas
# O reset index cria indexes para a nova lista criada
# A função sort_values ordena os dados por ordem descendente da soma
# No final é renomeada a coluna da soma para o nome que se quiser

def sum_column_by_group(df, column, *group_by_column, new_column_name='Sum'):
    group_by_list = list(group_by_column)

    df_sum_grouped = df.groupby(group_by_list)[column].sum().reset_index()
    df_sum_sorted = df_sum_grouped.sort_values(by=column, ascending = True).reset_index()
    df_sum_sorted.rename(columns={column: new_column_name}, inplace = True)
    return df_sum_sorted

In [134]:
# Função responsável por cacular a média dos valores de uma coluna e agrupar por uma ou mais colunas
# O reset index cria indexes para a nova lista criada
# A função sort_values ordena os dados por ordem descendente da média
# No final é renomeada a coluna da soma para o nome que se quiser

def mean_column_by_group(df, column, *group_by_column, new_column_name='Average'):
    group_by_list = list(group_by_column)

    df_mean_grouped = df.groupby(group_by_list)[column].mean().reset_index()
    df_mean_sorted = df_mean_grouped.sort_values(by=column, ascending = True).reset_index()
    df_mean_sorted.rename(columns={column: new_column_name}, inplace = True)
    return df_mean_sorted

In [135]:
def plot_game_sales_trends(df, x_column, y_column, hue_column, title_name, xlabel_name, ylabel_name, legend_name, marker_type='o'):
    # Set the plot size
    plt.figure(figsize=(12, 6))
    
    # Create a line plot
    sns.lineplot(data=df, x=x_column, y=y_column, hue=hue_column, marker=marker_type)
    
    # Add titles and labels
    plt.title(title_name)
    plt.xlabel(xlabel_name)
    plt.ylabel(ylabel_name)
    plt.legend(title=legend_name)
    
    # Show the plot
    plt.show()

Fim Nuno

Início Diogo

In [136]:
# Essa função filtra da lista apenas linhas onde uma coluna não é null
def filter_global_sales_not_null(file,column):
    try:
        filtered_file= file[file[column].notnull()]
        return filtered_file
    except:
        print(f'Column {column} not in DataFrame')

Fim Diogo

Início Jesus

In [137]:
### Função `eliminar_columnas`

#Esta função recebe um DataFrame e uma lista de colunas a serem removidas. Ela utiliza o método `drop()` do pandas para eliminar as colunas especificadas, ignorando erros caso alguma #coluna não exista no DataFrame.

#### Parâmetros:
#- **infile**: DataFrame original que será modificado.
#- **columnas_a_eliminar**: Lista de colunas a serem removidas do DataFrame.

#### Retorno:
# Um novo DataFrame sem as colunas especificadas.

def eliminar_columnas(infile, columnas_a_eliminar):
    # Eliminar las columnas especificadas
    df = infile.drop(columns=columnas_a_eliminar, errors='ignore')
    
    # Retornar el DataFrame modificado
    return df

Fim Jesus

Fluxo principal da aplicação

#1 Extraction

In [138]:
writer = pd.ExcelWriter(excelFileName, engine=engineName)
file = extract_base(csvFile)

#2 Transform

In [139]:
# Matheus
file = transform_remove_index(file)
file = convert_int(file,'Year')

# Diogo
file = filter_global_sales_not_null(file,'Global_Sales')

# Jesus
columnas_a_eliminar = ['Index', 'Rank', 'Critic_Score', 'User_Score', 'Total_Shipped']
file = eliminar_columnas(file,columnas_a_eliminar )
print(file)

# Nuno
#sum_global_by_platform = sum_column_by_group(file, 'Global_Sales', 'Platform', 'Total_Global_Sales')

                                    Name                          basename  \
19                    Grand Theft Auto V                grand-theft-auto-v
20                    Grand Theft Auto V                grand-theft-auto-v
30           Grand Theft Auto: Vice City        grand-theft-auto-vice-city
32                    Grand Theft Auto V                grand-theft-auto-v
34             Call of Duty: Black Ops 3          call-of-duty-black-ops-3
...                                  ...                               ...
21237       Mind, Body & Soul: Blend It!             body & soul blend it"
21238              Ride! Carnival Tycoon              ride-carnival-tycoon
21239      Shinobido: Tales of the Ninja      shinobido-tales-of-the-ninja
21240    Tactical Ops: Assault on Terror    tactical-ops-assault-on-terror
21241  World in Conflict: Soviet Assault  world-in-conflict-soviet-assault

          Genre ESRB_Rating Platform                    Publisher  \
19       Action           M      PS3               Rockstar Games
20       Action           M      PS4               Rockstar Games
30       Action           M      PS2               Rockstar Games
32       Action           M     X360               Rockstar Games
34      Shooter           M      PS4                   Activision
...         ...         ...      ...                          ...
21237    Puzzle         NaN       DS                    505 Games
21238  Strategy           E       PC                     ValuSoft
21239    Action         NaN      PSP  Sony Computer Entertainment
21240   Shooter         NaN       PC                        Atari
21241  Strategy           T       PC                      Ubisoft

                                       Developer  VGChartz_Score  \
19                                Rockstar North             NaN
20                                Rockstar North             NaN
30                                Rockstar North             NaN
32                                Rockstar North             NaN
34                                      Treyarch             NaN
...                                          ...             ...
21237                              Crush Digital             NaN
21238                                   ValuSoft             NaN
21239                                    Acquire             NaN
21240                            Kamehan Studios             NaN
21241  Massive Entertainment / Swordfish Studios             NaN

       Global_Sales  NA_Sales  PAL_Sales  JP_Sales  Other_Sales  Year  \
19            20.32      6.37       9.85      0.99         3.12  2013
20            19.39      6.06       9.71      0.60         3.02  2014
30            16.15      8.41       5.49      0.47         1.78  2002
32            15.86      9.06       5.33      0.06         1.42  2013
34            15.09      6.18       6.05      0.41         2.44  2015
...             ...       ...        ...       ...          ...   ...
21237          0.00       NaN       0.00       NaN          NaN  2010
21238          0.00       NaN       0.00       NaN          NaN  2007
21239          0.00       NaN       0.00       NaN          NaN  2007
21240          0.00       NaN       0.00       NaN          NaN  2002
21241          0.00       NaN       0.00       NaN          NaN  2009

       Last_Update                                                url  status  \
19             NaN  http://www.vgchartz.com/game/65884/grand-theft...       1
20     03rd Jan 18  http://www.vgchartz.com/game/83196/grand-theft...       1
30             NaN  http://www.vgchartz.com/game/896/grand-theft-a...       1
32             NaN  http://www.vgchartz.com/game/65883/grand-theft...       1
34     14th Jan 18  http://www.vgchartz.com/game/85359/call-of-dut...       1
...            ...                                                ...     ...
21237          NaN  http://www.vgchartz.com/game/31394/mind-body-a...       1
21238          NaN  http://www.vgchartz.com/game/40441/ride-carniv...       1
21239          NaN  http://www.vgchartz.com/game/20018/shinobido-t...       1
21240          NaN  http://www.vgchartz.com/game/36164/tactical-op...       1
21241          NaN  http://www.vgchartz.com/game/25257/world-in-co...       1

       Vgchartzscore                                            img_url
19               NaN      /games/boxart/full_6510540AmericaFrontccc.jpg
20               NaN      /games/boxart/full_5563178AmericaFrontccc.jpg
30               NaN                        /games/boxart/827563ccc.jpg
32               NaN      /games/boxart/full_9218923AmericaFrontccc.jpg
34               NaN      /games/boxart/full_4990510AmericaFrontccc.jpg
...              ...                                                ...
21237            NaN          /games/boxart/full_2998242PALFrontccc.jpg
21238            NaN       /games/boxart/full_756013AmericaFrontccc.jpg
21239            NaN          /games/boxart/full_2848967PALFrontccc.jpg
21240            NaN       /games/boxart/full_942613AmericaFrontccc.jpg
21241            NaN  /games/boxart/full_world-in-conflict-soviet-as...

[19415 rows x 19 columns]

#3 Load

In [140]:
write_xls(writer,file,tab1Name)
#write_xls(writer,sum_global_by_platform,tab2Name)

writer.close()